﻿@model BulkyBook.Models.ViewModels.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create product";
}
<br />
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Product.ProductId != 0)
        {
            //edit
            title = "Edit product";
            <input type="hidden" asp-for="Product.ProductId" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-lg-8">
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.Title"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.ISBN"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.Author"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.Description"></label>
                </div>
                <div class="col-lg-8">
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.ListPrice"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.Price"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.Price50"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Product.Price100"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    Category
                </div>
                <div class="col-lg-8">
                    @Html.DropDownListFor(m => m.Product.CategoryId, Model.CategoryList, "-Select a Category",
                   new { @class = "form-control" })
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    Cover type
                </div>
                <div class="col-lg-8">
                    @Html.DropDownListFor(m => m.Product.CoverTypeId, Model.CoverTypeList, "-Select a Cover Type",
                   new { @class = "form-control" })
                    <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    Image
                </div>
                <div class="col-lg-8">
                    <input type="file" name="files" multiple id="uploadBox" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-8 offset-4">
                    @if (Model.Product.ProductId != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Product.ProductId" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-lg-6">
                                <a asp-action="Index" class="btn btn-primary form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.Product.ProductId != 0)
        {
            <div class="col-lg-3">
                <img src="@Model.Product.ImageUrl" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9" />
            </div>
        }
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }
            return true;
        };
    </script>
}


