﻿@model BulkyBook.Models.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create category";
}
<br/>
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.CategoryId != 0)
        {
            //edit
            title = "Edit category";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <input type="hidden" asp-for="CategoryId"/>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-4">
                    <label asp-for="Name" ></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Name"¸class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-4">
                    @if(Model.CategoryId != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.CategoryId" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


