﻿@model BulkyBook.Models.Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create company";
}
<br />
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.CompanyId != 0)
        {
            //edit
            title = "Edit company";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <input type="hidden" asp-for="CompanyId" />
        <div class="col-lg-8">
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="StreetAddress"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="City"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="PostalCode"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="col-lg-8">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4">
                    <label asp-for="IsAuthorizedCompany"></label>
                </div>
                <div class="col-lg-8">
                    <input type="checkbox" asp-for="IsAuthorizedCompany" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-8 offset-4">
                    @if (Model.CompanyId != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.CompanyId" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


