﻿<div class="row">
    <div class="col-lg-6">
        <button type="submit" class="btn btn-primary form-control">Create</button>
    </div>
    <div class="col-lg-6">
        <a asp-action="Index" class="btn btn-primary form-control">Back to List</a>
    </div>
</div>