﻿@model int

<div class="row">
    <div class="col-lg-4">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">Update</button>
    </div>
    <div class="col-lg-4">
        <a asp-action="Index" class="btn btn-primary form-control">Back to List</a>
    </div>
</div>